.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1164px;
  height: 85px;
  margin-top: 36px;
}

.header-content a {
  text-decoration: none;
}

.header-content span {
  color: #EBEBEB;
}
