.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1164px;
  min-width: 1024px;
  height: 85px;
  margin-top: 36px;
}

.header-content a {
  text-decoration: none;
  color: #EBEBEB;
  font-family: 'Yeseva One', serif;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}
