@font-face {
  font-family: 'Roboto Regular';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../public/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Yeseva One';
  src: url('../public/fonts/Yeseva_One/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../public/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf') format('truetype');
}

body, h1 {
  margin: 0;
}
