<div class="container">
  <div class="content-container">
    <h1 class="title">Contact Us</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-content-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="text" matInput formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea 
            formControlName="message"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            required></textarea>
          </mat-form-field>
          <app-button [name]="buttonName" [type]="buttonType" buttonClass="secondary"></app-button>
        </div>
      </form>
  </div>
  <img [src]="imagem">
</div>
